* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  height: 500px;
  border: 2px solid white;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  padding: 0 40px;
  transition: border 0.1s ease;
}

.weather-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  padding: 20px;
  border-radius: 50%;
  background-color: #3fb4de;
  margin-bottom: 30px;
  color: #fff;
} 

.weather-name{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.weather-box h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.weather-box h3 {
  font-size: 20px;
  white-space: nowrap;
}

.weather-btn {
  margin: 5px;
}

.weather-button.active,
.weather-btn.active {
  color: white !important; 
}

@media (max-width: 768px) {
  .container {
    border: none;
  }
}

